# Python
__pycache__/
*.py[cod]
*.pyo
.Python
*.egg-info/
dist/
build/

# Ambientes virtuais
.venv/
venv/
env/

# IDEs
.idea/
.vscode/
*.iml

# Variáveis de ambiente
.env
.env.*

# Sistema operacional
.DS_Store
Thumbs.db
